:root {
    --red: rgb(227,53,13);
    --blue: rgb(27,83,186);
    --yellow: rgb(255,204,5);
    --green: rgb(0, 128, 0);

    --red-hover: rgb(190, 44, 11);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    min-height: 100vh;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


.header {
    margin-top: 1rem;
    background-color: var(--red);
    color: var(--yellow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    
    .header__title {
        font-size: 2.5rem;
        background-color: var(--blue);
        padding: .5rem;
        border-radius: 10px;
    }
    
    .header__menu {
        display: flex;
        list-style-type: none;
        
        .header__menu-item {
            padding: 1rem;
            font-size: 1.25rem;
            font-weight: 600;
            cursor: pointer;
            border-radius: 10px;
        }

        .header__menu-item:hover {
            background-color: var(--red-hover);
        }
    }
}

.section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .section__form {
        display: flex;
        gap: 1rem;

        .section__form-label {
            flex: 2;
            display: flex;
            flex-direction: column;
            position: relative;

            .section__form-select,
            .section__form-input {
                padding: 1rem;
            }

            .section__search-list {
                position: absolute;
                top: 100%;
                left: 0;
                list-style-type: none;
                border: 1px solid black;
                border-top: none;
                width: 100%;

                .section__search-item {
                    padding: 1rem;
                    cursor: pointer;
                }

                .section__search-item:nth-child(odd) {
                    background-color: rgb(220, 220, 220);
                }

                .section__search-item:hover {
                    background-color: rgb(200, 200, 200);
                }
            }
        }

        .section__form-button {
            flex: 1;
            padding: 1rem;
            align-self: flex-end;
        }
    }

    .section__pkmn-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); */

        .card {
            border: 4px solid var(--red);
            border-radius: 10px;
            padding: 2rem 1rem;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            .card__top {  
                display: grid;
                place-items: center;

                .card__image {
                    width: 50%;
                    aspect-ratio: 1;
                    background-color: var(--green);
                    border-radius: 25px;
                    padding: 1rem;
                }
                .card__index {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    background-color: var(--yellow);
                    border-radius: 50%;
                    width: 50px;
                    aspect-ratio: 1;
                    display: grid;
                    place-items: center;
                }
            }
            .card__middle {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                text-align: center;

                .card__name {
                    font-size: 1.5rem;
                }

                .card__type {
                    font-size: 1.25rem;
                }
            }

            .card__bottom {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .card__stat {
                    border-bottom: 1px solid black;
                    padding: 1rem;
                    font-weight: 600;
                    text-align: center;
                }

                .card__stat--span-two {
                    grid-column: auto / span 2;
                }
            }

            .card__fav-btn {
                padding: 1rem;
                border-radius: 10px;
                border: none;
                background-color: var(--red);
                color: var(--yellow);
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}

.d-none {
    display: none;
}